.main_div {
    display: flex;
    padding: 75px;
    background-color: black;
    height: 100%;
}

/* .main_image {
    flex: 1;
    justify-content: center;
    align-items: center;
    justify-content: center;
} */

.image {
    width: 100%;
    height: auto;
}

.main_text {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}

#h5 {
    margin-top: 30px;
}

#button {
    color: white;
    background: #DF9228;
}

.happy_div {
    background: rgb(246, 246, 246);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.happy_hour_image {
    margin-top: 50px;
    width: 50%;
    height: auto;
}

.contact_div {
    background: rgb(246, 246, 246);
}

.h1_home {
    color: #DF9228;
    text-align: center;
}